/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }

*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 svetle sede pozadi      #f5f5f5
 tmavsi seda             #959595
 barevny prechod nahore  #06d7c1
 barevny prechod dole    #50cc49
 zelena cara             #06d7c1
 oranzova                #f15f42

 PISMO
 Rubik - pouzite rezy pisma regular 400 a medium 500
 https://fonts.google.com/specimen/Rubik

 KULATE ROHY
 border-radius: 30px;
*/

/*text-rendering: optimizeLegibility; přesunuto do body do mého css*/

/* ----- zde zacni psat vlastni css ----- */

:root {
  --spacer: 30px;
  --lightgray: #f5f5f5;
  --darkgray: #959595;
  --green: #06d7c1;
  --orange: #f15f42;
  --white: #ffffff;
  --gradienttop: #06d7c1;
  --gradientbottom: #50cc49;
}

body { 
  text-rendering: optimizeLegibility;
  background-color: var(--lightgray);
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.zbozi {
  max-width: 670px;
  max-height: 440px;
  margin: auto;
  padding-top: 100px; /*odsun od horního kraje prohlížeče*/
}

.vizual,
.detaily {
  width: 50%;
  height: 440px;
  float: left;
  display: flow-root;
}

.vizual {
  background: linear-gradient(var(--gradienttop), var(--gradientbottom));
  border-top-left-radius: var(--spacer);
  border-bottom-left-radius: var(--spacer);
  padding: var(--spacer);
}

.detaily {
  background-color: var(--white);
  border-top-right-radius: var(--spacer);
  border-bottom-right-radius: var(--spacer);
  padding: var(--spacer);
}


.slogan {
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  margin-top: var(--spacer);
}

.bota {
  /*position: relative;
  left: -120px;*/
  position: absolute;
  right: 820px;
  bottom: 400px;
}

.cenovka {
  max-width: 150px;
  position: absolute;
  right: 850px;
  bottom: 430px;
  /*position: relative;
  left: 125px;
  top: -78px;*/
}

.cena {
  font-size: 28px;
  font-weight: 500;
  color: var(--white);
  text-align: right;
}

.zaruka {
  font-size: 12px;
  font-weight: 400;
  color: var(--white);
}

.nazev {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: -5px;
}

.produkt {
  color: var(--darkgray);
  margin-top: -5px;
}

.popis {
  margin-top: var(--spacer);
  margin-bottom: var(--spacer);
}

.parametr {
  text-transform: uppercase;
  padding-top: var(--spacer);
  border-top: 1px solid var(--green);
}

h2 {
  font-size: 14px;
  font-weight: 400 bold;
}

.velikosti {
  margin: 0px;
  padding: 0px;
}

.velikosti li{
  display: inline;
  padding: 10px;
}

.akce {
  display: inline-block;
  background-color: var(--orange);
  max-width: 150px;
  height: 3rem;
  /*position: relative;
  left: 0px;
  bottom: 80px;*/
  position: absolute;
  left: 850px;
  bottom: 430px;
  /*margin-top: 169px;*/
  padding-top: 15px;
  border-radius: 10px;
}

.tlacitko {
  color: var(--white);
  text-transform: uppercase;
  padding: var(--spacer);
  text-decoration: none;
}

.vybrana  {
  color: var(--orange);
  font-weight: bold;
  border: 1px solid var(--orange);
  border-radius: 50%;
}

